@{
    var Usuario = WebSecurity.CurrentUserName;
    
        Layout = "../Inicio/_ConfluenciaLayout.cshtml";
        var db = Database.Open("IntranetConnectionNew");
        var title = "Pre Carga de Recibo";

        var Planillas_listadosql = @"EXEC REMITOS_RESUMEN_PLANILLAS";
    
        var Planillas_listado = db.Query(Planillas_listadosql);

    
    }
<!-- Page-Title -->
<!-- BEGIN: .page-header, Title of the Page -->
<style>
    .form-control .positiv {
        background-color:rgb(159, 214, 248);
        font-weight: 500;
        font-size: large;
        color: blue;
    }
    .form-control .negativ {
        background-color:lightpink;
        font-weight: 500;
        font-size: large;
        color: crimson;
    }
</style>

<!-- BEGIN: .main-content -->
<div class="content">
    <!-- Start Content-->
    <div class="container-fluid">

          <div class="row mt-5 mt-lg-0 mt-xl-5 mt-xxl-0">
            <!-- Carga de datos del Recibo-->
            <div class="col-lg-6 col-xl-12 col-xxl-6 h-100">
              <div class="d-flex mb-4"><span class="fa-stack me-2 ms-n1"><i class="fas fa-circle fa-stack-2x text-300"></i><i class="fa-inverse fa-stack-1x text-primary fas fa-clipboard-list"></i></span>
                <div class="col">
                  <h5 class="mb-0 text-primary position-relative"><span class="bg-200 dark__bg-1100 pe-3">Planillas Remitos</span><span class="border position-absolute top-50 translate-middle-y w-100 start-0 z-n1"></span></h5>
                  <p class="mb-0">Detalle de Planillas &uacuteltimos 3 meses</p>
                </div>
              </div>
              <div class="card theme-wizard mb-5 mb-lg-0 mb-xl-5 mb-xxl-0 h-100">

                <div class="card-body py-4">
                
                  <div  >
                    <table class="table table-sm table-striped  table-responsive fs--1 mb-0 overflow-hidden"  id="datatable-buttons">
                      <thead class="bg-200 text-900">
                      <tr>
                        <th class="sort align-middle text-center asc" data-sort="planilla">Planilla</th>
                        <th class="sort align-middle text-center" data-sort="fecha">Fecha</th>
                        <th class="sort align-middle text-center" data-sort="planta" >Planta</th>
                        <th class="sort align-middle  text-center" data-sort="status">Cant. Remitos</th>
                        <th class="sort align-middle  text-center" data-sort="amount">Cant. Controlados</th>
                      </tr>
                    </thead>
                          <tbody  id="table-orders-body">
                            @foreach(var row in Planillas_listado)
                            {  
                              <tr style="text-align:center;">
                              <td class="align-middle fs--1 text-primary fw-semi-bold" >@row.PLANILLA</td>
                              <td class="align-middle">@row.FECHA</td>
                              <td class="btn btn-outline-primary me-1 mb-1 btn-sm">@row.PLANTA</td>
                              <td class="align-middle">@row.CANT_REMITOS</td>
                              <td class="align-middle">@row.CANT_CTROLADOS</td>
                              </tr>

                            }
                          </tbody>
                        </table>
                  </div>
                </div>

              </div>
            </div>
            <!-- Datos del recibo-->
            <div class="col-lg-6 col-xl-12 col-xxl-6 h-100">
              <div class="d-flex mb-4"><span class="fa-stack me-2 ms-n1"><i class="fas fa-circle fa-stack-2x text-300"></i><i class="fa-inverse fa-stack-1x text-primary fas fa-shipping-fast"></i></span>
                <div class="col">
                  <h5 class="mb-0 text-primary position-relative"><span class="bg-200 dark__bg-1100 pe-3">Remitos</span><span class="border position-absolute top-50 translate-middle-y w-100 start-0 z-n1"></span></h5>
                  <p class="mb-0">Remitos Cargados</p>
                </div>
              </div>
              <div class="card theme-wizard mb-5 mb-lg-0 mb-xl-5 mb-xxl-0 h-100">
                <div class="card-header bg-light pt-3 pb-2">

                </div>

                <div class="card-body py-4">
                                                                          <table class="table mb-0 fs--1"  id="datatable-buttons">
                        <thead class="bg-200 text-900">
                          <tr>
                            <th class="sort align-middle">R</th>
                            <th class="sort align-middle">Cliente</th>
                            <th class="sort align-middle">Fecha</th>
                            <th class="sort align-middle">Origen</th>
                          </tr>
                        </thead>
                        <tbody style="font-size: 90%;">
                          @foreach(var row in Planillas_listado)
                          {  
                            <tr > 
                            
                            </tr>
                          }
                        </tbody>
                      </table>

                </div>

              </div>
            </div>
          </div>
    </div> 
</div><!-- content -->

<script>

        $(document).ready(function() {
                      //Buttons examples
            var table = $('#datatable-buttons').DataTable({
                "lengthMenu": [ [10, 25, 50, -1], [10, 25, 50, "All"] ],
                                buttons: [
                { extend: 'copy', className: 'button primary' },
                { extend: 'excel', className: 'button primary' },
                { extend: 'pdf' , className:'button primary'}],
                "ordering": false,
                "dom": "<'row mx-0'<'col-md-6'l><'col-md-6'f>><'table-responsive scrollbar'tr><'row g-0 align-items-center justify-content-center justify-content-sm-between'<'col-auto mb-2 mb-sm-0 px-3'i><'col-auto px-3'p>>"
            });
            // Default Datatable

            $('.pagination').addClass('pagination-sm');
           
    } );



$("#avisos").slideUp(300);

var date = new Date(); 
date.setDate(date. getDate() ); 
var dd = String(date.getDate()).padStart(2, '0');
var mm = String(date.getMonth() + 1).padStart(2, '0'); //January is 0!
var yyyy = date.getFullYear();
fechaconsumo = dd + '/' + mm + '/' + yyyy;
document.getElementById("fechaconsumo").value = fechaconsumo ;
$("#fecharecibo").text(fechaconsumo) ;
updatefechahasta ()


/*
document.getElementById("prodForm").onkeypress = function(e) {
    var key = e.charCode || e.keyCode || 0;     
    if (key == 13) {
      alert("No Enter!");
      e.preventDefault();
    }
  }*/

$("#cliente").keyup(function () {
    
    this.value = this.value.toLocaleUpperCase(); 
    this.value = this.value.trim();
    $("#cliente_recibo").html(this.value);
});


$("#lugarobra").keyup(function () {

    $("#lugarobra_recibo").html('Lugar de Obra: ' + this.value);
});


function busquedacliente( ){

    $.ajax({
            url: "Methods/busquedaclientedatos",
            type: "get",
            dataType: "json",
            data: {telefono: $("#telefono").val()},
            contentType: "application/json; charset=utf-8", 
            cache: false,
            })
            .done(function(data) {
                    
                    if (data.length > 0){
                        $("#cliente").val(data[0]['NOMBRE']);
                        $("#lugarobra").val(data[0]['LUGAR_OBRA']);
                        $("#telefono_recibo").html('Tel: ' + $("#telefono").val());
                        $("#cliente_recibo").html(data[0]['NOMBRE']);
                        $("#lugarobra_recibo").html(data[0]['LUGAR_OBRA']);
                        //document.getElementById('clienteresumen').innerHTML= thisdict.cliente;
                        }
                    else { console.log("NO ENCONTRADO");
                                $("#telefono_recibo").html('Tel: ' + $("#telefono").val());
                          }
            })
}

function updatefechahasta (){
        var e = document.getElementById("aconsumirantes");
        var value = Number(e.value);
        var date = new Date(); 
        date.setDate(date. getDate() + value); 
        var dd = String(date.getDate()).padStart(2, '0');
        var mm = String(date.getMonth() + 1).padStart(2, '0'); //January is 0!
        var yyyy = date.getFullYear();
        fechahasta = dd + '/' + mm + '/' + yyyy;
        document.getElementById("fechahasta").value= fechahasta ;
        
        $("#aconsumirrecibo").text($("#aconsumirantes option:selected").text());
        $("#fechahastarecibo").text(fechahasta) ;
}

function updatetotal(){
    var cant = Number($("#precio").val());  
    var precio = Number($("#cantidad").val()); 
    var imputacion = Number($("#ListProductos").val());  
    if (imputacion==-1){
                
        }
    else{
        
    }
    
    Number($("#totalprodserv").val(new Intl.NumberFormat().format(cant * precio * imputacion)));  
}


function agregarfila(){
    var cant = Number($("#cantidad").val());  
    var precio = Number($("#precio").val()); 
    var obsproducto = $("#observpro").val();
    var imputacion = Number($("#ListProductos").val());  
    console.log(obsproducto);
    if (cant == 0 || precio == 0 ){
        
        $("#avisos").slideDown(300);;

        $("#avisos").delay(4000).slideUp(300);
    }
    else {         
            var e = document.getElementById("ListProductos");
            var value = e.value;
            var producto= e.options[e.selectedIndex].text;

            var total = Number($("#totalprodserv").val())
            //console.log(cant);
            //console.log(precio);
            //console.log(total);
            var numfila = $("#cantidadlineas").val();
            var cancela = 0;
            $("#cantidadlineas").val(Number($("#cantidadlineas").val()) + 1 );
            var numfila = Number($("#cantidadlineas").val()) -1 ;
            var strtoadd = `<tr class="row0" id="row0">
                            <td class="align-middle">
                                <button onclick="deleteRow(this)" class="btn bg-danger-subtle  text-danger btn-sm me-1 mb-1" type="button">
                                    <span class="far fa-trash-alt me-1" data-fa-transform="shrink-3"></span>
                                </button> 
                            </td>
                            <td class="align-middle" style="color:brown;font-weight:600;">`+ Number(numfila + 1) +`</td> 
                            <td class="align-middle" style="text-align: center;font-weight:700; "><h6 class="mb-0 text-nowrap">`+ producto +`</h6> </td>
                            <td class="align-middle">`+ obsproducto +`</td> 
                            <td class="align-middle" style="text-align: right;">`+ cant.toLocaleString('es-AR') +`</td> 
                            <td class="align-middle" style="text-align: right;">`+ (precio * imputacion).toLocaleString('es-AR') +`</td> 
                            <td class="align-middle totalfila" style="text-align: right;">`+ (cant * precio * imputacion).toLocaleString('es-AR') +`</td> 
                            </tr>`
            //console.log(strtoadd);

            strtoadd = strtoadd.replace("row0","row"+ String(numfila));
            // strtoadd = strtoadd.replace(/znum/g,0);
            $("#myTable > tbody").append(strtoadd);
            $("#totalprodserv").val(0);
            $("#precio").val(0);
            $("#cantidad").val(0);
            $("#observpro").val('');

            //productslist()                
            actualizototales();
    }               

    }    

function productslist(){
    var productslistado = "";
    var table = document.getElementById("myTable");
    for (var i = 1, row; row = table.rows[i]; i++) {
   //iterate through rows
   //rows would be accessed using the "row" variable assigned in the for loop
        productslistado = productslistado + "(" + row.cells[1].innerHTML + ","+ row.cells[2].innerHTML + ",'" + row.cells[3].innerHTML + "','" + row.cells[4].innerHTML + "'," + row.cells[5].innerHTML + "," + row.cells[6].innerHTML +");"
        }
        
        
        console.log(productslistado);
        document.getElementById("productos").value =  productslistado;
    }
function unformatString(string) {

    var parts = (1234.5).toLocaleString('es-AR').match(/(\D+)/g);
    var unformatted = string;

    unformatted = unformatted.split(parts[0]).join("");
    unformatted = unformatted.split(parts[1]).join(".");

    return parseFloat(unformatted);

}


function actualizototales(){
   var totalventa = 0;
   var valorfila = 0 
   var classtotalfila = document.getElementsByClassName('totalfila');
    
   for(var index=0;index < classtotalfila.length;index++){
      console.log(unformatString(classtotalfila[index].innerHTML) );
      valorfila = unformatString(classtotalfila[index].innerHTML) ;
      
      totalventa = parseFloat(totalventa) + parseFloat(valorfila);

   }

   document.getElementById('totalventarecibo').innerHTML = totalventa.toLocaleString('es-AR');
    //alert ("hola");
}   

function deleteRow(r) {
                    
                    var i = r.parentNode.parentNode.rowIndex;
                    document.getElementById("myTable").deleteRow(i);
                    $("#cantidadlineas").val(Number($("#cantidadlineas").val()) - 1 );
                    actualizototales();
                    productslist();
}


$('form').submit(function() {
  $(this).find("button[type='submit']").prop('disabled',true);
});


</script>
<!-- END: .main-content -->





